* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #b29cc9, #b8c1d1); */
  background-color: #ffffff;
}

.card {
  background: white;
  padding: 40px;
  width: 100%;
  max-width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

@media (max-width: 480px) {
  .card {
    padding: 30px 20px;
  }
}

.card h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.3s;
}

.input-field:focus {
  border-color: #2575fc;
  outline: none;
  box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.send-btn {
  background-color: #2575fc;
  margin-bottom: 15px;
}

.send-btn:hover {
  background-color: #1a5ed8;
}

.verify-btn {
  background-color: #28a745;
}

.verify-btn:hover {
  background-color: #1e7e34;
}