.apsrtc-top-header {
  background-color: #e31e24;
  /* APSRTC red */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  color: white;
}

/* LEFT SIDE */
.left-section {
  display: flex;
  align-items: center;
}

.apsrtc-logo {
  width: 90px;
  margin-right: 20px;
}

.title-section {
  display: flex;
  flex-direction: column;
}

.telugu-title {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.english-title {
  font-size: 16px;
  margin: 5px 0 0 0;
}

/* RIGHT SIDE */
.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.support-icon {
  font-size: 40px;
}

.support-text {
  margin: 0;
  font-size: 16px;
}

.support-number {
  margin: 5px 0 0 0;
  font-size: 28px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .apsrtc-top-header {
    padding: 10px 15px;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .left-section {
    flex-direction: row;
  }

  .apsrtc-logo {
    width: 60px;
    margin-right: 10px;
  }

  .telugu-title {
    font-size: 20px;
  }

  .english-title {
    font-size: 13px;
  }

  .right-section {
    gap: 10px;
    flex-direction: column;
  }

  .support-icon {
    font-size: 30px;
  }

  .support-text {
    font-size: 13px;
  }

  .support-number {
    font-size: 20px;
  }
}