.apsrtc-top-header {
  background-color: #e31e24; /* APSRTC red */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  color: white;
}

/* LEFT SIDE */
.left-section {
  display: flex;
  align-items: center;
}

.apsrtc-logo {
  width: 90px;
  margin-right: 20px;
}

.title-section {
  display: flex;
  flex-direction: column;
}

.telugu-title {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.english-title {
  font-size: 16px;
  margin: 5px 0 0 0;
}

/* RIGHT SIDE */
.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.support-icon {
  font-size: 40px;
}

.support-text {
  margin: 0;
  font-size: 16px;
}

.support-number {
  margin: 5px 0 0 0;
  font-size: 28px;
  font-weight: bold;
}